.answerButton {
  outline: currentcolor none medium;
  cursor: pointer;
  height: 30px;
  padding: 5px;
  width: 100%;
  border: 2px solid rgb(231, 231, 231);
  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
  background-color: #FFFFFF;
  border-color: #CCCCCC;
  color: #000000;
}

.selectedAnswer {
  background-color: #666666;
  border-color: #666666;
  color: #FFFFFF;
}

.correctAnswer {
  background-color: #02DC2A;
  border-color: #02DC2A;
  color: #FFFFFF;
}

.wrongAnswer {
  background-color: #FE0000;
  border-color: #FE0000;
  color: #FFFFFF;
}

.answers-container {
	min-height: 100%;
	margin-top: 15px;
	position: relative;
}

.answers ul {
	list-style: none;
	padding-left: 0px;
	text-align: center;
}